{
  "name": "{{ova_builds_var.hostname}}-{{ item }}-eth1",
  "state": "APPROVED",
  "metadata": {
    "name": "{{ova_builds_var.hostname}}-{{ item }}-eth1",
    "namespace": "system",
    "labels": {},
    "annotations": {},
    "disable": false
  },
  "spec": {
    "type": "NETWORK_INTERFACE_ETHERNET",
    "mtu": 0,
    "dhcp_address": "NETWORK_INTERFACE_DHCP_DISABLE",
    "static_addresses": [
      {
        "prefix": "{{ova_builds_var.internal_ip[:-1]}}{{ item }}",
        "plen": '{{ova_builds_var.internal_ip_subnet_prefix}}'
      }
    ],
    "default_gateway": {
      "default_gateway_mode": "NETWORK_INTERFACE_GATEWAY_USE_CONFIGURED",
      "default_gateway_address": {
        "addr": "{{ova_builds_var.internal_ip_gw}}"
      }
    },
    "DNS_server": {
      "dns_mode": "NETWORK_INTERFACE_DNS_DISABLE",
      "dns_server": []
    },
    "DHCP_server": "NETWORK_INTERFACE_DHCP_SERVER_DISABLE",
    "vlan_tagging": "NETWORK_INTERFACE_VLAN_TAGGING_DISABLE",
    "device_name": "{{ova_builds_var.hostname}}-{{ item }}/eth1",
    "vlan_tag": 0,
    "priority": 0,
    "interface_ip_map": {},
    "is_primary": false,
    "monitor_disabled": {},
    "ethernet_interface": {
      "device": "eth1",
      "node": "{{ova_builds_var.hostname}}-{{ item }}",
      "untagged": {},
      "static_ip": {
        "node_static_ip": {
          "ip_address": "{{ova_builds_var.internal_ip[:-1]}}{{ item }}/{{ova_builds_var.internal_ip_subnet_prefix}}",
          "default_gw": "{{ova_builds_var.internal_ip_gw}}"
        }
      },
      "no_ipv6_address": {},
      "site_local_inside_network": {},
      "mtu": 0,
      "priority": 0,
      "not_primary": {},
      "monitor_disabled": {}
    }
  }
}