{
  "name": "{{ item.name }}",
  "state": "APPROVED",
  "passport": {
    "cluster_name": "{{ item.object.spec.gc_spec.passport.cluster_name }}",
    "cluster_size": "{{ ova_builds_var.build_count }}",
    "cluster_type": "{{ item.object.spec.gc_spec.passport.cluster_type }}",
    "latitude": "{{ item.object.spec.gc_spec.passport.latitude }}",
    "longitude": "{{ item.object.spec.gc_spec.passport.longitude }}"

  },
  "tunnel_type": "SITE_TO_SITE_TUNNEL_IPSEC_OR_SSL"
}

