{
  "name": "{{ova_builds_var.cluster_name}}-connector",
  "state": "APPROVED",
  "metadata": {
    "name": "{{ova_builds_var.cluster_name}}-connector",
    "namespace": "system",
    "labels": {},
    "annotations": {},
    "disable": false
  },
  "spec": {
    "sli_to_slo_snat": {
      "default_gw_snat": {},
      "interface_ip": {}
    },
    "disable_forward_proxy": {}
  }
}