{
  "annotations": {},
  "connected_region": "string",
  "labels": {},
  "name": "{{ reg_var.name }}",
  "passport": {
    "cluster_name": "{{ reg_var.object.spec.gc_spec.passport.cluster_name }}",
    "cluster_size": "{{ reg_var.object.spec.gc_spec.passport.cluster_size }}",
    "cluster_type": "{{ reg_var.object.spec.gc_spec.passport.cluster_type }}",
    "default_os_version": {},
    "default_sw_version": {},
    "latitude": "{{ reg_var.object.spec.gc_spec.passport.latitude }}",
    "longitude": "{{ reg_var.object.spec.gc_spec.passport.longitude }}",
    "operating_system_version": "string",
    "private_network_name": "string",
    "volterra_software_version": "string"
  },
  "tunnel_type": "SITE_TO_SITE_TUNNEL_IPSEC_OR_SSL"
}

