{
  "name": "{{ova_builds_var.cluster_name}}-inside",
  "state": "APPROVED",
  "metadata": {
    "annotations": {},
    "description": "Fleet Inside Network",
    "disable": true,
    "labels": {},
    "name": "{{ova_builds_var.cluster_name}}-inside",
    "namespace": "system"
  },
  "spec": {
    "site_local_inside_network": {},
    "static_routes": [],
    "static_v6_routes": []
  }
}